.vs/
_ReSharper.Caches/
AdditionalUtilits/PerformanceChecker/bin/Debug/net8.0/Grpc.Core.dll
AdditionalUtilits/PerformanceChecker/bin/Debug/net8.0/Grpc.Core.Api.dll
AdditionalUtilits/PerformanceChecker/bin/Debug/net8.0/Grpc.Net.ClientFactory.dll
AdditionalUtilits/PerformanceChecker/bin/
AdditionalUtilits/PerformanceChecker/obj/
Application/Application.Book/obj/
Application/Application.Common/obj/
Infrastructure/Grpc.Client.DependencyInjection/obj/
Presenters/Grpc.Contracts/obj/
Presenters/Grpc/obj/
Presenters/Proxy/bin/
Presenters/Proxy/obj/
Presenters/RestApi.Contracts/obj/
Presenters/WebApi/bin/
Presenters/WebApi/obj/
Presenters/Grpc/bin/
Presenters/Grpc.Contracts/bin/
Infrastructure/Database/obj/
Infrastructure/Database/bin/
Infrastructure/Grpc.Client.DependencyInjection/bin/
Infrastructure/Database.Interface/bin/
Infrastructure/Database.Interface/obj/
Application/Application.BookSearch/bin/
Application/Application.BookSearch/obj/
Application/Application.Common/bin/
Presenters/RestApi.Contracts/bin/
Domain/Domain/obj/
Domain/Domain/bin/
Application/Application.Book/bin/
